# Ignore build directory
/build
/test
# Ignore helper scripts
/helpers
/logs
/test

# Ignore object files
*.o

# Ignore executable files
*.exe
*.out

# Ignore ROM and sound files
*.COM
*.h
*.e
*.h
*.f
*.g
*.wav

# Ignore temporary files
*.log
*.tmp
*.swp

/.vscode